Create a function named hello that displays "Hello World" message when called

In [7]:
def message():
    return "Hello World"

In [8]:
message()

'Hello World'

Create a fucntion that gets a name as an argument and displays a greeting message like "Hello David"

In [15]:
def message(ad):
    return f"Hello,{ad}"

In [16]:
print(message("Xeyale"))

Hello,Xeyale

Create a function that takes two numbers and returns their sum

In [18]:
def topla(a,b):
    return a+b

In [19]:
topla(2,6)

8

Create a function that takes three arguments, the first two are numbers and the third argument is an operation(+, -, :, *). Function returns the result of the calculation based on the operation.

In [20]:
def ededler(a,b,c):
    if c=="+":
        return a+b
    elif c=="-":
        return a-b
    elif c=="*":
        return a*b
    elif c=="/":
        return a/b

In [22]:
ededler(6,5,'+')

11

Create a function that takes one list as an arguments and returns the sum of all elements

In [25]:
def topla(listt):
    return sum(listt)

In [27]:
listt=[7,2,3]
topla(listt)

12

Create a function that takes one list as an arguments and returns maximum elements in the list

In [28]:
def maks(listt):
    return max(listt)

In [30]:
listt=[2,5,7,24,11,78,90]
maks(listt)

90

Create a function that takes one list as an arguments and returns the minumum element in the list

In [32]:
def minimum(listt):
    return min(listt)

In [33]:
listt=[2,5,7,24,11,78,90]
minimum(listt)

2

Create a function that returns the area of a circle based on its radius

In [38]:
pi=3.14
def sahe(r):
    return pi*r**2

In [39]:
sahe(3)

28.26

Create a function that returns the circumference of the circle based on its radius

In [40]:
def diametr(r):
    return 2*r

In [41]:
diametr(3)

6

Create a function that takes a name as an argument and returns the first letter of the name.

In [48]:
def qaytar(listt):
    return listt[0]

In [54]:
qaytar("aydan")

'a'

Create a function that accepts an age argument and returns how much years left until it reaches 100.

In [55]:
def qaytar(a):
    return 100-a

In [56]:
qaytar(59)

41

Create a function that given x returns the value of a function
# y = e^x

In [57]:
e=2.71
def func(x):
    return e*x

In [58]:
func(x=5)

13.55

Create a function that takes two lists as arguments and returns their intersection.

Create a function that takes one number as an argument and returns true if the number is prime, otherwise it returs false

Create a function that takes a number as an argument(n). The function returns a list of first n odd numbers.

In [1]:
def first_n_odd_numbers(n):
    return [2 * i + 1 for i in range(n)]

print(first_n_odd_numbers(5))

[1, 3, 5, 7, 9]

Create a function that takes a number as an argument (n). The function returns a list of n prime numbers.

Create a function that reverses a string.

In [17]:
def ters(listt):
    return ''.join(reversed(listt))

print(ters(("salam")))

malas

Create a function that takes a word as an arguments and returns true if the word is a polyndrome, otherwise it returns false.

In [21]:
def yoxla(a):
    if a=="polyndrome":
        return True
    else:
        return False

In [22]:
yoxla("hybrid")

False

In [23]:
yoxla("polyndrome")

True

Create a function that calculates the factorial of the number argument.

In [25]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

num = 5
print(f"The factorial of {num} is {factorial(num)}")

The factorial of 5 is 120

Create a function that takes a list as an argument and returns the unique elements of a list.

In [26]:
def unique_elements(input_list):
    unique_set = set(input_list)
    unique_list = list(unique_set)
    return unique_list

my_list = [1, 2, 2, 3, 4, 4, 5]
print(unique_elements(my_list))

[1, 2, 3, 4, 5]

Create a function that takes a list as an argument and returns the sorted list.

In [27]:
def sort_list(input_list):
    sorted_list = sorted(input_list)
    return sorted_list

my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
print(sort_list(my_list))

[1, 1, 2, 3, 3, 4, 5, 5, 6, 9]

Create a function that takes three arguments. The first argument is a tuple, the second argument represents an index, the third argument represents the value. The function must change the tuple value at specified index with specified value.