Create a list of animals and display them in one line

In [27]:
heyvanlar = ['zebra', 'aslan', 'at','ceyran','zurafe']
print("," .join(heyvanlar))

zebra,aslan,at,ceyran,zurafe

Create a program that finds; minum, maximum, average number in a list of random numbers.

YOU ARE NOT ALLOWED TO USE BUILT-IN FUNCTIONS LIKE max(), min(), avg()

In [1]:
a = [12,23,34,45,56,67,78,89,90,100]

In [9]:
minimum= a[0]
for i in range(0,len(a)):
    if a[i] < minimum:
        minimum = a[i]
print(minimum)

12

In [10]:
maximum= a[0]
for i in range(0,len(a)):
    if a[i] > maximum:
        maximum = a[i]
print(maximum)

100

In [11]:
cem = 0
say = len(a)
for i in a:
    cem += i
    orta= cem / say
print(orta)

59.4

You are given a nested list, display its elements in this manner

Example

List: [[1], [1, 2], [1, 2, 3]]

OUTPUT:

[1] -> 1

[1, 2] -> 1, 2

[1, 2, 3] -> 1, 2, 3

In [18]:
a = [[1], [1,2],[1,2,3]]
for i in a:
    for x in i:

You are given a nested list, create a new list which elements are the average of lists in a given nested list

Example

List: [[1, 6, 8], [1, 2], [10, 12, 13]]

OUTPUT:

[7.5, 1.5, 11.66666]

In [109]:
List= [ [1, 6, 8],  [1, 2],  [10, 12, 13] ]

a=[]
cem = 0


for i in List[0]:

        cem += i
        say= len(List[0])
        orta1= cem / say
        
        
print(orta1)

a=[]
cem = 0
for i in List[1]:

        cem += i
        say= len(List[1])
        orta2= cem / say
        
print(orta2)

a=[]
cem = 0
for i in List[2]:

        cem += i
        say= len(List[2])
        orta3= cem / say

print(orta3)

5.0
1.5
11.666666666666666

In [104]:
List= [ [1, 6, 8],  [1, 2],  [10, 12, 13] ]

a=[]

for i in List:
    cem = 0
    for x in i:
        cem+=x
        say= len(i)
    orta= cem / say
    
    a.append(orta)
    
print(a)

[5.0, 1.5, 11.666666666666666]

Create a program that loops through a nested list and removes all elements divisible by n (n is given by the user).

Example

List: [[56, 43, 21], [98, 65, 41], [44, 41], [22]]

n: 2

OUTPUT:

[[43, 12], [65, 41], [41], []]

In [108]:
a =  [[56, 43, 21], [98, 65, 41], [44, 41], [22]]
n = int(input('Eded daxil edin:'))



for i in a:
    for x in i:
        if x%n==0:
            i.remove(x)
            
print(a)

Eded daxil edin:3
[[56, 43], [98, 65, 41], [44, 41], [22]]