Create a function named hello that displays "Hello World" message when called

In [3]:
def func(name):
    return name
func("Hello World")

'Hello World'

Create a fucntion that gets a name as an argument and displays a greeting message like "Hello David"

In [187]:
def func(name):
    return 'Hello David'

func(name)

'Hello David'

Create a function that takes two numbers and returns their sum

In [7]:
def func(a,b):
    return a+b
func(5,6)

11

Create a function that takes three arguments, the first two are numbers and the third argument is an operation(+, -, :, *). Function returns the result of the calculation based on the operation.

In [8]:
def func(a,b,c):
    if c=="+":
        return a+b
    elif c=="-":
        return a-b
    elif c=="*":
        return a*b
    elif c=="/":
        return a/b
func(100,3,'*')

300

Create a function that takes one list as an arguments and returns the sum of all elements

In [1]:
def func(list_):
    cem=0
    for i in list_:
        cem+=i
        i+=1
    return cem
list_=[23,34,45,2,1]
func(list_)

105

Create a function that takes one list as an arguments and returns maximum elements in the list

In [50]:
def func(arg):
    maximum= arg[0]
    for i in range(0,len(arg)):
        if arg[i] > maximum:
            maximum = arg[i]
    return maximum

arg=[23,34,45,2,1]
func(arg)

45

In [33]:
def func(*arg):
    cem=0
    orta=0
    for i in arg:
        cem+=i
        orta=cem/len(arg)
    return orta
    
func(1,2,3,4,5)

3.0

Create a function that returns the area of a circle based on its radiu

In [34]:
def func(radius):
    pi=3
    sahe=pi*radius**2
    return sahe
func(6)

108

Create a function that returns the circumference of the circle based on its radius

In [36]:
def func(radius):
    pi=3
    uzunluq=pi*radius*2
    return uzunluq
func(6)

36

Create a function that takes a name as an argument and returns the first letter of the name.

In [38]:
def func(a):
    return a[0]
func('salam')

's'

Create a function that accepts an age argument and returns how much years left until it reaches 100.

In [188]:
def func(yas):
    return 100-yas
func(23)

77

Create a function that given x returns the value of a function
# y = e^x

In [41]:
def func(x):
    e=3
    y=e**x
    return y
func(2)

9

Create a function that takes two lists as arguments and returns their c.

In [95]:
def func(a,b):
    intersection=[]
    for i in a:
        for x in b:
            if x==i:
                intersection.append(x)
    return intersection

a=[23,34,45,2,99]
b=[25,45,77,89,99]

func(a,b)

[45, 99]

Create a function that takes one number as an argument and returns true if the number is prime, otherwise it returs false

In [211]:
def func(number):
    if number<2:
        return "False"
    elif number==2:
        return "True"
    elif number%2==0:
        return "False"
    
    for i in range(3, int((number)**1/2)+1 ,2):
        if number%i==0:
            return "False"
    return "True"
func(101)

'True'

In [5]:
def func(number):
    if number<2:
        return "False"
    elif number==2:
        return "True"
    elif number%2==0:
        return "False"
    
    for i in range(2, number):
        if number%i==0:
            return "False"
    return "True"
func(35)

'False'

Create a function that takes a number as an argument(n). The function returns a list of first n odd numbers.

In [9]:
def func(n):
    tek_eded=[]
    for i in range(1,n,2):
        tek_eded.append(i)
    return tek_eded
func(23)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

Create a function that takes a number as an argument (n). The function returns a list of n prime numbers.

In [19]:
def func(n):
    cut_eded=[]
    for i in range(2,n,2):
        cut_eded.append(i)
    return cut_eded
func(23)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]

Create a function that reverses a string.

In [127]:
def func(strings):
    for i in reversed(strings):
        print(i)
func('esmer' )

r
e
m
s
e

Create a function that takes a word as an arguments and returns true if the word is a polyndrome, otherwise it returns false.

In [149]:
def func(soz):
    if soz==soz[::-1]:
        return True
    return False
func('sesli')

False

In [150]:
def func(soz):
    if soz==soz[::-1]:
        return True
    return False
func('ses')

True

Create a function that calculates the factorial of the number argument.

In [175]:
def func(number):
    fakto=1
    for i in range(1,number+1,1):
        fakto*=i
    return fakto

func(5)

120

Create a function that takes a list as an argument and returns the unique elements of a list.

In [212]:
def func(unikal):
    no_dublicat=set(unikal)
    return list(no_dublicat)

unikal=['esmer','elminaz','esmer','sema','sema',1,2,3,3,4,5,5]
func(unikal)

[1, 2, 3, 'elminaz', 'sema', 4, 5, 'esmer']

Create a function that takes a list as an argument and returns the sorted list.

In [179]:
def func(sort):
    return sorted(sort)
sort=[1,2,4,5,78,9,3]
func(sort)

[1, 2, 3, 4, 5, 9, 78]

Create a function that takes three arguments. The first argument is a tuple, the second argument represents an index, the third argument represents the value. The function must change the tuple value at specified index with specified value.

In [214]:
def func(tuplee,index,value):
    list_tuple=list(tuplee)
    list_tuple[index]=value
    return tuple(list_tuple)

tuplee=(1,2,3,4,5,6,7)
index=2
value=8
func(tuplee,index,value)

(1, 2, 8, 4, 5, 6, 7)