## Easy

Task1
Get the user's name and display how many letters are in the name.

In [4]:
user = input('enter a name: ')
letters = 0
for i in user:
    letters += 1
letters

enter a name: Nijat

5

Task2 
Get the user's favourite movie and display each letter on new line.

In [5]:
movie = input('your fav movie: ')
for i in movie:
    print(i)

your fav movie: Kurtlar vadisi
K
u
r
t
l
a
r

v
a
d
i
s
i

Task3
Ask a user for a sentence. Display each word of the sentence on new line.

In [7]:
sent = input('add a sentence: ')
for i in sent.split(' '):
    print(i)

add a sentence: Ask user a sentence
Ask
user
a
sentence

Task4 Ask a user for a text. Display each sentence of the text on new line.

In [10]:
txt = input('add a text: ')
for i in txt.split('.'):
    print(i)

add a text: His seven-layer cake only had six layers. Three years later, the coffin was still full of Jello. It's me Nijat.
His seven-layer cake only had six layers
 Three years later, the coffin was still full of Jello
 It's me Nijat

Ask a user for a name. If name starts with the letter "z" display the message "Rare name". The program must be case-insensitive.

In [47]:
name = input('add your name: ')
for i in name:
    if (i.lower()).startswith('z'):
        print('rare name')

add your name: Zaur
rare name

Ask a user for a text and count the amount of vowels and consonants in the text.

In [31]:
txt = input('add a text: ')
vowels = 'AIOUE'
cons = 'BCDFGHJKLMNPQRSTVWXYZ'
vowel_count = 0
cons_count = 0
for letters in txt:
    if letters.upper() in vowels:
        vowel_count += 1
    elif letters.upper() in cons:
        cons_count += 1
print(f'count of vowels in text: {vowel_count},\ncount of consonants in text: {cons_count}')

add a text: salam, nicat
count of vowels in text: 4,
count of consonants in text: 6

Ask a user for a sentence and display how many special characters (?, ., ', *, etc.) are in the sentence.

In [35]:
sentence = input('add a sentence: ')
chars = '!,@,#,$,%,^,&,*,(,),-,_,=+,\,|,[,],{,},;,:,/,?,.,>'
spec_chars = 0
for i in sentence:
    if i in chars.split(','):
        spec_chars += 1
print(spec_chars)

add a sentence: salam; menim adim @#Nicatdir !??!
7

You are given a list. Join the elements of a list into one string value and display it.

In [51]:
"""
LIST 1
"""
values = ["Hello", "100", "spartans", "lost", "the", "battle", "in", "100", "BC","23"]
joined = " ".join(values)
joined

'Hello 100 spartans lost the battle in 100 BC 23'

In [58]:
"""
LIST 2
"""
values = ["Hello", 100, "spartans", "lost", "the", "battle", "in", 100, "BC"]
joined = " ".join(map(str, values))
joined

'Hello 100 spartans lost the battle in 100 BC'

The user inputs an integer value. Display how many digits are in the integer.

In [38]:
value = int(input('add an integer: '))
digits = 0
for i in str(value):
    digits += 1
digits

add an integer: 485874

6

Ask a user for a text input and extract all digits to a new string.

Example

Input: I am 20 years old

Output: 20

In [43]:
txt = input('add a text: ')
new_str = ''
for i in txt:
    if i in '1234567890':
        new_str+=i
print("output: ", new_str)

add a text: i was born in 2004
output:  2004

## Intermediate

The user inputs a text and then one letter. There must be only one letter. Get the user's letter input while condition is unsatisfied. The program must count the amount of occurances of this letter in the inputted text.

In [ ]:
txt = input('add a text: ')
letter = input('add a letter: ')

Get a text input from a user. And replace all "e" letters to "$". Display the result.

In [8]:
txt = input('add a text: ')
new_txt = ''
for i in txt:
    if i.lower() == 'e':
        txt = txt.replace(i, '$')
txt

add a text: salam menim adim EEsmerdir

'salam m$nim adim $$sm$rdir'

Get a two word input from the user, seperated by whitespace. Swap the first letters of each word.

Example

Sample String : 'rat founder'

Expected Result : 'fat rounder'

In [ ]:
user = input('add a 2-word-input: ')
word = user.split()
new1,

Get user input in the form of text. And find the longest word in the text.

Ask the user for a float input and display all digits upto 2 decimal places with a sign

Example

Input: 78885.93198123

Output: 78885.93

Ask a user for an input and reverse it.

Example

Input: Science

Output: Ecneics

In [6]:
a = input('add a text: ')
rev = ''
for i in a:
    rev = i + rev
rev

add a text: salam

'malas'

Ask a user for an integer input and find the sum of its digits.

Example

Input: 2536

Output: 2+5+3+6 = 16

In [14]:
integ = int(input('add an integer: '))
sumof = 0
for i in str(integ):
    sumof += int(i)
sumof

add an integer: 34

7

Ask a user for an input and remove all consecutive duplicate occurences.

Example

Input: Ladder

Output: Lader

In [13]:
a = input('add a str: ')
b = ''
for i in a:
    if i not in b:
        b += i
b

add a str: salam, rabbit, engineer

'salm, rbiteng'

Write a Python program that will check if all of the letters of the first string are in second string. Your code should ignore whitespace.

Example:

First: Tom Marvolo Riddle

Second: IamLordVoldemort

Condition is satisfied

First: code

Second: Decode

Condition is satisfied

First: Decode

Second: code

Condition is not satisfied

In [22]:
first = input('add first txt: ')
second = input('add second txt: ')

for i in first:
    if i in second:
        print('condition is satisfied')
    else:
        print('condition is not satisfied')

add first txt: code
add second txt: decode
condition is satisfies
condition is satisfies
condition is satisfies
condition is satisfies

Display unique characters in a user-inputted string.

Example

Input: I like flowers

Output: i, l, k, e, f, o, w, r, s

Recreate the following pattern

1

1 1

1 1 1

1 1 1 1

1 1 1 1 1

1 1 1 1

1 1 1

1 1

1

In [23]:
for i in range(5):
    print(1)

1
1
1
1
1