Create a recursive function that find a sum of first n numbers

In [2]:
def sumof(a):
    Cem=0
    for i in range(0, a+1):
        Cem+=i
    return Cem

sumof(5)

15

Create a recursive function that find a factorial of a number

In [ ]:
def f(a):
    Fact=1
    for i in range(1, a+1):
        Fact*=i
    return Fact

f(5)

120

Create a recursive function that calculates the sum of the positive integers of n+(n-2)+(n-4)... (until n-x =< 0).

Example:

6 -> 6 + 4 + 2 -> 12

Create a recursive function that returns the n-th element of the Fibonacci sequence. Each number in the sequence is the sum of the two numbers that precede it.

Fibonacci sequence: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55

Create a recursive function that finds a power of a number.

In [ ]:
def f(x):
    return x**2

f(-6.6)

43.559999999999995

Create a recursive function that finds a sum of all elements in a nested list

Example

[1, 2, [3,4], [5,6]] -> 1 + 2 + 3 + 4 + 5 + 6 = 21

In [ ]:
def sumof(listim):
    Cem=0
    for i in listim:
        if type(i) == int:
            Cem+=i
        else:
            for x in i:
                Cem+=x
    return Cem

sumof([1, 2, [3,4], [5,6], 9])

30

Create a recursive function that finds a product of the number's digits

Example

1534 -> 1 * 5 * 3 * 4 = 60

In [ ]:
def prod(num):
    Hasil=1
    for i in str(num):
        Hasil = Hasil* int(i)
    return Hasil

prod(1534)

60

Create a recursive function that finds the ƏKOB of two numbers.

Example

ƏKOB(20, 25) = 100

In [ ]:
def ekob(kicik, boyuk):
    Um=1
    for x in range(1, boyuk+1):
        if kicik %x==0:
            Um*=x
    return Um

ekob(20,25)

8000

## Lambda

Create a lambda function that takes a number as input and returs double its value

4 -> 8
6 -> 12

In [5]:
double = lambda x: x * 2
double(6)

12

Create an anonymous function that takes two numbers as an input and returns their product

In [7]:
a = int(input('add a number: '))
b = int(input('add a number: '))

product = lambda a,b: a*b
product(a,b)

add a number: 5
add a number: 4

20

Create a lambda function that takes a number and returns its cube.

In [8]:
cube = lambda x: x**3
cube(4)

64

Create a lambda function that takes two number (a,b) and returns a to the power of b.

(2, 5) -> 32

In [9]:
power = lambda a,b: a**b
power(2,5)

32

Create a lambda function that takes a string and returns True if all characters are digits.

In [12]:
all_digits = lambda txt: txt.isdigit()
all_digits('7845625')

True

Create a list of numbers from 0 to 10000 using list comprehension.

Create a list of even numbers from 0 to 10000 using list comprehension.

Create a list of numbers divisible by 5 from 0 to 10000 using list comprehension.

Create a list of numbers. Using map function multiply each element by 2

Create a list of numbers. Using filter function remove all even numbers.

Create two lists of numbers. Find the intersection of these lists using lambda function and filter function.

Create a list of numbers. Using lambda and filter functions count the amound of odd and even numbers in the list.


Create a nested list with 3 lists. With filter function remove lists that contain even numbers.

Create a list of numbers and using filter function remove all non-prime (compound) numbers.


Create a list of 1000 random numbers and using filter function remove all not perfect numbers. A perfect number is a number that is equal to the sum of its divisors(excluding itself).

6 = 1 + 2 + 3

Using filter function remove all special characters (., !, &, etc.) from a string.