Create a function named hello that displays "Hello World" message when called

In [2]:
def hello():
    print("Hello World")

hello()

Hello World

Create a fucntion that gets a name as an argument and displays a greeting message like "Hello David"

In [4]:
def hello(name):
    print(f'hello {name}')
    
hello('Nicat')

hello Nicat

Create a function that takes two numbers and returns their sum

In [5]:
def cem(a,b):
    return a+b

cem(5, 9)

14

Create a function that takes three arguments, the first two are numbers and the third argument is an operation(+, -, :, *). Function returns the result of the calculation based on the operation.

In [6]:
def calculator(x,y,z):
    if z == '+':
        return x+y
    elif z == '-':
        return x-y
    elif z == '/':
        return x/y
    elif z=='*':
        return x*y
    else:
        print('wrong format!')
        
calculator(20, 100, '/')

0.2

Create a function that takes one list as an arguments and returns the sum of all elements

In [16]:
def sumof(my_list):
    cem = 0
    for i in my_list:
        cem += i
    return cem

sumof([4, 5, 3, 2, 9, 11])

34

Create a function that takes one list as an arguments and returns maximum elements in the list

In [18]:
def maximum(my_list):
    return max(my_list)

maximum([4, 5, 30, 2, 9, 11])

30

Create a function that returns the area of a circle based on its radiu

In [19]:
pi = 3
def area(r):
    return pi * r**2

area(4)

48

Create a function that returns the circumference of the circle based on its radius

In [21]:
pi = 3
def circ(r):
    return pi * r * 2

circ(4)

24

Create a function that takes a name as an argument and returns the first letter of the name.

In [22]:
def first(name):
    return name[0]

first('Nijat')

'N'

Create a function that accepts an age argument and returns how much years left until it reaches 100.

In [23]:
def until(age):
    return 100-age

until(40)

60

Create a function that given x returns the value of a function
# y = e^x

In [25]:
e = 2.7
def f(x):
    return e ** x

f(6)

387.42048900000015

Create a function that takes two lists as arguments and returns their intersection.

In [29]:
def intersection(A, B):
    inter = []
    for i in A:
        if i in B:
            inter.append(i)
    return inter
        
intersection([1, 3, 5, 7, 8], [3, 6, 8, 9, 1, 5])

[1, 3, 5, 8]

Create a function that takes one number as an argument and returns true if the number is prime, otherwise it returs false

In [95]:
def prime(num):
    if num == 1:
        print('ne sade ne murekkeb')
    elif num == 2:
        return True
    for i in range(2, num):
        if num % i == 0:
            return False
    return True

prime(2)

True

Create a function that takes a number as an argument(n). The function returns a list of first n odd numbers.

In [41]:
def odd(n):
    nums = []
    for i in range(1, n*2, 2):
        nums.append(i)
    return nums

odd(15)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

Create a function that takes a number as an argument (n). The function returns a list of n prime numbers.

In [42]:
##############################################

Create a function that reverses a string.

In [43]:
def reverse(string):
    rev = ''
    for i in string:
        rev = i + rev
    return rev

reverse('salam')

'malas'

Create a function that takes a word as an arguments and returns true if the word is a polyndrome, otherwise it returns false.

In [51]:
def pol(word):
    if word == word[::-1]:
        return True
    return False

pol('Hello'), pol('ana')

(False, True)

Create a function that calculates the factorial of the number argument.

In [54]:
def fact(num):
    f = 1
    for i in range(1, num+1):
        f *= i
    return f

fact(5)

120

Create a function that takes a list as an argument and returns the unique elements of a list.

In [4]:
def uniq(listim):
    uniques = []
    for i in listim:
        if i not in uniques:
            uniques.append(i)
    return uniques

uniq([1, 1, 2, 3, 4, 4, 7, 7, 9, 10])

[1, 2, 3, 4, 7, 9, 10]

Create a function that takes a list as an argument and returns the sorted list.

In [5]:
def sorting(listim):
    return sorted(listim)

sorting([5, 3, 8, 1, 2])

[1, 2, 3, 5, 8]

Create a function that takes three arguments. The first argument is a tuple, the second argument represents an index, the third argument represents the value. The function must change the tuple value at specified index with specified value.

In [63]:
def rep(my_tuple, index, arg):
    tuple_list = list(my_tuple)
    tuple_list[index] = arg
    return tuple(tuple_list)

rep((1, 2, 3, 4, 7, 9, 10), 4, 5)

(1, 2, 3, 4, 5, 9, 10)

In [3]:
# Bubble sort
def bubble_sort(listim):
    uzunluq = len(listim)
    for i in range(uzunluq):
        for j in range(0, uzunluq - i - 1):
            if listim[j] > listim[j + 1]:
                # Swap if the element found is greater than the next element
                listim[j], listim[j + 1] = listim[j + 1], listim[j]
    return listim

unsorted_list = [5, 3, 8, 1, 2]
sorted_list = bubble_sort(unsorted_list)
print(sorted_list)

[1, 2, 3, 5, 8]